@using SHA_Shop.Models
@model List<DANHMUC>

<ul>
    @{
        foreach (var item in Model)
        {

            <li><a href="@Url.Action("CategoryProduct", "Product", new { id = item.MaDM})">@item.TenDM</a></li>
        }
    }
</ul>


