@model SHA_Shop.Areas.Admin.Models.DeleteOrderFormModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">QUẢN LÝ ĐƠN HÀNG</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">XÓA ĐƠN HÀNG</h6>
        </div>

        <br />
            <div class="delete" style="text-align:center;">
                <h4>Bạn có chắc muốn xóa ?</h4> <p>ID Người Dùng: @Model.MaDH </p>
                @using (Html.BeginForm("Delete", "Order", FormMethod.Post)) //<form class='user'>
                {
                    <a href="@Url.Action("Index","Order")" class="btn btn-primary">Quay lại Danh sách</a>
                    @Html.HiddenFor(m => m.MaDH)
                    <button type="submit" style="margin-left:50px;" class="btn btn-warning">
                        Xóa
                    </button>
                }
            </div>
        </div>
</div>

<!-- /.container-fluid -->
